'.source.perl6, .source.perl6fe':
  'script':
    'prefix': 'script'
    'body': '#!/usr/bin/env perl6\n\nuse v6;\n\nsay "Hello world";'
  'pod':
    'prefix': 'pod'
    'body': '=begin pod\n$1\n=end pod'

  # Converted from Vim's Perl 6 snippets using vim_snippets_to_cson.pl6
  # https://github.com/honza/vim-snippets/blob/master/snippets/perl6.snippets
  '#!':
    'prefix': '#!'
    'body': '#!/usr/bin/env perl6'
  '.':
    'prefix': '.'
    'body': ' =>'
  'sub':
    'prefix': 'sub'
    'body': 'sub ${1:function_name}(${2:Str $var}) {\n  ${3}\n}'
  'mul':
    'prefix': 'mul'
    'body': 'multi ${1:function_name}(${2:Str $var}) {\n  ${3}\n}'
  'if':
    'prefix': 'if'
    'body': 'if ${1} {\n  ${2}\n}'
  'ife':
    'prefix': 'ife'
    'body': 'if ${1} {\n  ${2}\n}\nelse {\n  ${3}\n}'
  'eif':
    'prefix': 'eif'
    'body': 'elsif ${1) {\n  ${2}\n}'
  'xif':
    'prefix': 'xif'
    'body': '${1:expression} if ${2:condition};'
  'unless':
    'prefix': 'unless'
    'body': 'unless ${1} {\n  ${2}\n}'
  'xunless':
    'prefix': 'xunless'
    'body': '${1:expression} unless ${2:condition};'
  'tc':
    'prefix': 'tc'
    'body': '${1:condition} ?? ${2:value-if-true} !! ${3:value-if-false};'
  'switch':
    'prefix': 'switch'
    'body': 'given ${1:$var} {\n  when ${2:condition} {\n    ${3:# code block ...}\n  }\n  ${4}\n  default {\n    ${5}\n  }\n}'
  'loop':
    'prefix': 'loop'
    'body': 'loop (my ${1:$i} = 0; $$1 < ${2:count}; $$1++) {\n  ${3}\n}'
  'for':
    'prefix': 'for'
    'body': 'for ${1:@array} -> ${2:$variable} {\n  ${3}\n}'
  'wh':
    'prefix': 'wh'
    'body': 'while ${1} {\n  ${2}\n}'
  'rp':
    'prefix': 'rp'
    'body': 'repeat {\n  ${1}\n} ${2:while|until} ${3};'
  'cl':
    'prefix': 'cl'
    'body': '${1:my} class ${2:ClassName} ${3:is|does Parent|Role}{\n  ${4}\n}'
  'has':
    'prefix': 'has'
    'body': 'has ${1:Type} ${2:$!identifier};'
  'mth':
    'prefix': 'mth'
    'body': 'method ${1:method_name}(${2:$attr}) {\n  ${3}\n}'
  'pmth':
    'prefix': 'pmth'
    'body': 'method ${1:!}${2:method_name}(${3:$attr}) {\n  ${4}\n}'
  'smth':
    'prefix': 'smth'
    'body': 'submethod ${1:submethod_name}(${2:$attr}) {\n  ${3}\n}'
  'test':
    'prefix': 'test'
    'body': 'use v6;\nuse Test;\n${1:use lib \'lib\';}\nplan ${2:$num-tests};'
  'slurp':
    'prefix': 'slurp'
    'body': 'my ${1:$var} = "${2:filename}".IO.slurp;'
  'rfile':
    'prefix': 'rfile'
    'body': 'for "${1:filename}".IO.lines -> $line {\n  ${2}\n}'
