# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-perl6-editor-tools'
      'command': 'atom-perl6-editor-tools:toggle'
    },
    {
      'label': 'Toggle atom-perl6-editor-tools'
      'command': 'atom-perl6-editor-tools:run-tests'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Perl 6 Editor Tools'
      'submenu': [
        {
          'label': 'POD Preview'
          'command': 'atom-perl6-editor-tools:toggle'
        },
        {
          'label': 'Run tests'
          'command': 'atom-perl6-editor-tools:run-tests'
        }
      ]
    ]
  }
]
