// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.atom-perl6-editor-tools {
  background-color: @syntax-background-color;
  box-sizing: border-box;
  padding: 0;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  /* Customize POD Preview iframe */
  iframe.html {
    color: @syntax-text-color;
  }
  iframe.body {
    color: @syntax-text-color;
  }
  iframe.a {
    color: @syntax-text-color;
  }
  iframe.pre {
    background-color: @background-color-highlight;
    color: @syntax-text-color;
    padding: 10px 10px 10px 10px;
  }
}
